@page "/"

<PageTitle>Hi-Lo Game</PageTitle>

<h1>Welcome to Hi-Lo Game!</h1>

<hr />

<h4>The principle of the game is as follows:</h4>

<h4>- The system chooses a number between [Min; Max] (the mystery number)</h4>
<h4>- The player proposes a number between [Min; Max]</h4>
<h4>- If the player's proposal is not the mystery number, the system tells the player whether:</h4>
<h5>a. HI: the mystery number is greater than the player's guess</h5>
<h5>b. LO: the mystery number is less than the player's guess</h5>
<h4>- And the player plays again.</h4>
<h4>- The goal of the game is to discover the mystery number in a minimum of iterations</h4>

<hr />

<h4>Available Modes:</h4>

<h4>1. Training - Where you can see how the game works without any opponent.</h4>
<h4>2. Single Player - Where you will play against a BOT.</h4>
<h4>3. Multi Player - Create a room in a lobby where other players can join you and duel.</h4>

<hr />
<h6>Note that the bot does not include any AI mechanism so it will react accordingly with the numbers that inputs.</h6>
