@page "/"

<PageTitle>Hi-Lo Game</PageTitle>

<h1>Welcome to Hi-Lo Game!</h1>

<hr />

<h5>The principle of the game is as follows:</h5>

<h5>- The system chooses a number between [Min; Max] (the mystery number)</h5>
<h5>- The player proposes a number between [Min; Max]</h5>
<h5>- If the player's proposal is not the mystery number, the system tells the player whether:</h5>
<h6>a. HI: the mystery number is greater than the player's guess</h6>
<h6>b. LO: the mystery number is less than the player's guess</h6>
<h5>- And the player plays again.</h5>
<h5>- The goal of the game is to discover the mystery number in a minimum of iterations</h5>

<hr />

<h4>Available Modes:</h4>

<h5>1. Training - Where you can see how the game works without any opponent.</h5>
<h5>2. Single Player - Where you will play against a BOT.</h5>
<h5>3. Multi Player - Create a room in a lobby where other players can join you and duel.</h5>

<hr />
<h6>Note that the bot does not include any AI mechanism so it will react accordingly with the numbers that inputs.</h6>
